.marker {
	padding: 8px;
	width: fit-content;
	color: var(--white);
	font: var(--text-bold);
	border-radius: 8px;
}

.markerOk {
	background: var(--green-40);
}

.markerWarning {
	background: var(--orange-30);
}