.box {
	display: flex;
	flex-direction: column;
	max-width: 353px;
	background: var(--white);
}

.imgContainer {
	position: relative;
	margin-bottom: 20px;
	max-width: 313px;
	width: 100%;
	aspect-ratio: 1 / 1;
	border-radius: 8px;
	overflow: hidden;
}

.marker {
	position: absolute;
	top: 0;
	left: 0;
	border-bottom-left-radius: 0;
}

.title {
	margin-bottom: 12px;
	font: 700 28px/32px var(--font-family);
}

.text {
	font: var(--text-18);
}