.sectionFirstScreen {
	padding: 78px 20px 76px 20px;
	background: var(--orange-10);
}

.containerFirstScreen {
	margin: 0 auto;
	max-width: 1100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.titleFirstScreen {
	font: var(--h1-text);
}

.text {
	font: var(--text-18);
}