.sectionFirstScreen {
	padding: 78px 20px 76px 20px;
	background: var(--orange-10);
}

.containerFirstScreen {
	margin: 0 auto;
	max-width: 1100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.titleFirstScreen {
	margin-bottom: 20px;
	font: var(--h1-text);
}

.text {
	margin-bottom: 40px;
	font: var(--text-18);
}

.tag {
	margin-bottom: 20px;
}

.label {
	display: flex;
	align-items: center;
	gap: 8px;
	font: var(--text-18);
}

.icon {
	background-image: url('../../assets/location.svg');
}

.sectionCats {
	position: relative;
	padding: 100px 20px 80px 20px;
	background: var(--orange-20);
	overflow: hidden;
}

.containerCats {
	margin: 0 auto;
	max-width: 1100px;
}

.pawImage {
	position: absolute;
	top: 36px;
	left: 0;
	user-select: none;
	pointer-events: none;
}

.vectorImage {
	position: absolute;
	bottom: -232px;
	left: -197px;
	user-select: none;
	pointer-events: none;
	z-index: 0;
}

.plantImage {
	position: absolute;
	bottom: 0;
	right: 0;
}

.titleCats {
	margin-bottom: 64px;
	text-align: center;
	font: var(--h2-text);
}

.cardsContainer {
	margin-bottom: 44px;
	display: flex;
	gap: 20px;
}

.card {
	z-index: 1;
}

.button {
	margin: 0 auto;
	display: block;
	max-width: 353px;
	width: 100%;
}