.footer {
	padding: 18px 20px;
}

.footerContainer {
	margin: 0 auto;
	max-width: 1100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.tag {
	background: var(--orange-10);
}